#image: macOS
#image: Visual Studio 2019
image: Ubuntu2004
before_build: 
  - cmake -S . -B "build"
build_script:
  - cmake --build ./build --config Release
  - ls build
after_build:
  - 7z a myapp.zip build/*
artifacts:
  - path: myapp.zip
    name: MyApp