
version: 2.1

jobs:
  test:
    docker: 
      - image: node
    steps:
      - checkout
      - run: cd web && npm install
      - run: cd web && npm test -- --watchAll=false --testResultsProcessor="jest-junit"
      - store_artifacts:
          path: web/junit.xml
          destination: junit.xml

  build-web:
    docker:
      - image: node
    steps:
      - checkout
      - run: cd web && npm install
      - run: cd web && npm run build
      - store_artifacts:
          path: web/build
          destination: webapp

  build-plugin:
    docker:
      - image: rikorose/gcc-cmake
    steps:
      - checkout
      - run: cmake -S . -B "build-c360"
      - run: cmake --build ./build-c360 --config Release
      - store_artifacts:
          path: build-c360
          destination: build-c360

workflows:
  all:
    jobs:
      - test
      - build-web:
          requires:
            - test
      - build-plugin
